{% extends "charchitra/base.html" %}

{% block title %}
  Video Packs
{% endblock title %} 


{% block body %}

  <div class="container">
      <br/>
  	<div class="row justify-content-center">
                          <div class="col-12 col-md-10 col-lg-8">
                              <form class="card card-sm" >
                                  <div class="card-body row no-gutters align-items-center">
                                      <div class="col-auto">
                                          <i class="fas fa-search h4 text-body"></i>
                                      </div>
                                      <!--end of col-->
                                      <form action="." method="post">
                                      <div class="col">
                                          <input class="form-control form-control-lg form-control-borderless" type="search"
                                                 name="search_data" placeholder="Search topics or keywords" >
                                      </div>
                                      <!--end of col-->
                                      <div class="col-auto">
                                          <button class="btn btn-lg btn-success" type="submit">Search</button>
                                      </div>
                                      </form>
                                      <!--end of col-->
                                  </div>
                              </form>
                          </div>
                          <!--end of col-->
                      </div>
  </div>



  <!--<div class="container">-->

    <!--<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thumbnail Gallery</h1>-->

    <!--<hr class="mt-2 mb-5">-->

    <!--<div class="row text-center text-lg-left">-->
      <!--{% for i in video_list %}-->
      <!--<div class="col-lg-3 col-md-4 col-6">-->
        <!--<a href="#" class="d-block mb-4 h-20">-->
              <!--<img class="img-fluid img-thumbnail" src={{ i }} alt="">-->
            <!--</a>-->
      <!--</div>-->
        <!--{% endfor %}-->
    <!--</div>-->
    <!--</div>-->
  {% for pack in video_pack_list %}
  <hr>

    <div class="container">
            <a href="#" class="btn btn-default btn-xs" role="button">
                    <h4> {{ pack }} </h4>
                </a>
        <div class="w-100"></div>

         <!-- <div class="row">

             <div class="col-sm" style="margin: 10px 20px 20px 20px !important;">
                 <table>
                 <tr>
                     <td>Price (1 day)</td>
                     <td>&#8377 </td>
                     <td>
                         <a href="" class="btn-default" role="button">
                             subscribe
                         </a>
                     </td>
                 </tr>
                     </table>
              </div>
             <div class="col-sm" style="margin: 10px 20px 20px 20px !important;">
                 <table>
                 <tr>
                     <td>Price (1 week)</td>
                     <td>&#8377 </td>
                     <td>
                         <a href="" class="btn-default" role="button">
                             subscribe
                         </a>
                     </td>
                 </tr>
                     </table>
              </div>
             <div class="col-sm" style="margin: 10px 20px 20px 20px !important;">
                 <table>
                 <tr>
                     <td>Price (1 month)</td>
                     <td>&#8377 </td>
                     <td>
                         <a href="" class="btn-default" role="button">
                             subscribe
                         </a>
                     </td>
                 </tr>
                     </table>
              </div>
             <div class="col-sm" style="margin: 10px 20px 20px 20px !important;">
                 <table>
                 <tr>
                     <td>Price (1 year)</td>
                     <td>&#8377 </td>
                     <td>
                         <a href="" class="btn-default" role="button">
                             subscribe
                         </a>
                     </td>
                 </tr>
                     </table>
              </div>
         </div> -->

          <div class="row">
              <div class="col-xs-20 col-sm-10 col-md-2" style="margin: 10px 20px 20px 20px !important;">



              </div>

              <div class="w-100"></div>
              {% for video in video_list %}
                
                
                {% if pack.a_id in video.a_id.all and pack.g_id in video.g_id.all %}
                
                  <div class="col" style="margin-right: 0px;" >
                    <div class="thumbnail">
                      <!--<img src="http://placehold.it/500x250/EEE">-->
                        <img src="{{ video.url }}" style="height:150px;width:100px">
                        <div class="caption">
                          <!-- <p> {{ video.description }}</p> -->


                          <!-- <a href="#" class="btn btn-default btn-xs pull-right" role="button">
                            <i class="glyphicon glyphicon-edit"> </i>
                          </a> -->

                          <a href="{% url 'charchitra:video_detail' user_id video.pk %}" class="btn btn-info btn-xs" role="button">
                            {{ video.v_name }}
                          </a>


                      </div>
                    </div>

                  </div>
              {% endif %}
            {% endfor %}

      </div><!--/row-->
    </div><!--/container -->
  {% endfor %}
{% endblock body %}