<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ video_detail.v_name }} - Video</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'charchitra:dashboard' %}">JUMLA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <h1 class="mt-5">{{ video_detail.v_name }}</h1>
    <div class="row">
      <div class="col-sm" style="margin-top:30px">

        <table class="table table-hover">
          <thead>
        <tr>

  <tbody>
    <tr>
      <td><b>Language</b></td>
      <td>{{ video_detail.language }}</td>
    </tr>
    <tr>

      <td><b>Actor{{ video_detail.a_id.all|pluralize }}</b></td>
      <td>
        {% for actor in video_detail.a_id.all %}
          {{ actor.a_name }}
        {% endfor %}
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th>
        Subscription Packs
      </th>
    </tr>
    <tr>
      <td>Price (1 day)</td>
      <td>&#8377 {{ video_price_detail.0.v_price }}</td>
      <td>
        <a href="" class="btn-default" role="button">
              subscribe
        </a>
      </td>
    </tr>
    <tr>
      <td>Price (1 week)</td>
      <td>&#8377 {{ video_price_detail.1.v_price }}</td>
      <td>
        <a href="" class="btn-default" role="button">
              subscribe
        </a>
      </td>
    </tr>
    <tr>
      <td>Price (1 month)</td>
      <td>&#8377 {{ video_price_detail.2.v_price }}</td>
      <td>
        <a href="" class="btn-default" role="button">
              subscribe
        </a>
      </td>
    </tr>
    <tr>
      <td>Price (1 year)</td>
      <td>&#8377 {{ video_price_detail.3.v_price }}</td>
      <td>
        <a href="" class="btn-default" role="button">
              subscribe
        </a>
      </td>
    </tr>


  </tbody>
</table>

      </div>
      <div class="col-sm">
        <iframe 
          width="560" 
          height="315" 
          src="{{ video_detail.youtube_url }}" 
          frameborder="0" 
          allow="accelerometer; 
          autoplay; 
          encrypted-media; 
          gyroscope; 
          picture-in-picture" allowfullscreen></iframe>
        </iframe>
      </div>
    </div>
    <div>
        <h1> Description </h1>

        <h5> {{ video_detail.description }}</h5>
      </div>

  </div>

  <!-- Bootstrap core JavaScript -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>

</html>